	<div class="sidebar">
        <div class="sidebar-header">
            <h2>Menu</h2>
        </div>
        <ul class="sidebar-menu">
			@if (session.Authenticated) {
				@foreach (var Menu in Menus) {
					<li>
					<h4>@Menu.Titre</h4>
						<ul>
						@foreach (var Item in Menu.ItemsMenu) {
							<li><a href="@Item.url"><i>&@Item.Icone</i> @Item.Titre</a></li>
						}
						</ul>
					</li>
				}
			} @else {
				<a href="@env.resource/login" class="btn btn-primary btn-lg px-4 gap-3" tabindex="-1" role="button">
					<i class="bi bi-box-arrow-in-right me-2"></i>Sign In
				</a>
			}			
        </ul>
    </div>