	<tr class="AddLine">
      <td>
			<a 
				href="#" 
				hx-post="@env.resource/ApplyInsertFeed?Session=@App.SessionNo" 
				hx-include="closest tr"
				hx-target="closest tr"
			>
			<span class="material-icons">
			  save
			</span>
		  </a>	  
	  </td>
      <td>
		  <a href="#" hx-post="@env.resource/CancelAddFeed" hx-target="closest tr" hx-swap="outerHTML swap:1s">
			<span class="material-icons">
			  cancel
			</span>
		  </a>
      </td>
      <td>
		&nbsp;
	  </td>
	  <td>
		&nbsp;
	  </td>
	  <td>
		<input autofocus id="edtNom" name="Nom" value="">
	  </td>			  	  
	  <td>
		<input id="edtTitre" name="titre" value="">
	  </td>
	  <td>
		<input id="edtGroupe" name="Groupe" value="">
	  </td>
	  <td>
		<select id="Status" name="status">	
			<option value="O" selected>Actif</option>
			<option value="N" >Désactivé</option>
		</select>
	  </td>
	  <td>
		&nbsp;
	  </td>
	  <td>
		&nbsp;
	  </td>
    </tr>