@LayoutPage layouts/mainLayout

<script>
function confirmDelete(aForm){
	if (confirm("Etes-vous certains de vouloir supprimer ce fil d'informations ?")){
		aForm.dispatchEvent(new Event("submit", { cancelable: true, bubbles: true }));
	}
}
</script>

<div class="container">
<h1 class="text-center">@TITRE</h1>
<br/>
	<div id="ListNavigation">
		@import ListNavigation
	</div>
	<br/>
	<div id="TargetTable">
		@import FeedsTable
	</div>
	<button type="button" 
			id="btnAddLine"
			class="btn btn-primary" 
			hx-trigger="AddLine"
			hx-post="@env.resource/AddFeed?Session=@App.SessionNo" 
			hx-target="#TableFeeds" 
			hx-swap="beforeend"
			onClick="let addingLine = document.querySelector('.addingLine')
					if(!addingLine) {
						htmx.trigger(this, 'AddLine')
					}">
	Ajouter un fil d'informations
	</button>

	<script>
	    // Récupérer le JWT depuis l'URL
		const urlParams = new URLSearchParams(window.location.search);
		const token = urlParams.get('token');

		if (token) {
			// Stocker le JWT dans localStorage
			localStorage.setItem('jwt', token);

			// Supprimer le token de l'URL pour éviter qu'il ne reste visible
			//window.history.replaceState({}, document.title, window.location.pathname);
		}
		
		document.body.addEventListener('htmx:afterRequest', function(evt) {
			if (evt.detail.requestConfig.path.startsWith("@env.resource/@pages.ActionPagination")) {
				// Une fois la première requête terminée, déclencher la deuxième requête
				htmx.ajax("GET", "@env.resource/@pages.ActionList?Session=@App.SessionNo&Page=1@if (pages.UrlParameters <> '') {&@pages.UrlParameters}", "#TargetTable");
			}
		});
	</script>
</div>