		<tr id="Row@Feed.ID_FEED">
			  <td>
			  
					<a href="#" hx-delete="@env.resource/DeleteFeed?id=@Feed.FEED_ID" hx-confirm="Etes-vous certains de vouloir supprimer cette liste ?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
						<span class="material-icons">
						delete
						</span>
					</a>
			  </td>
			  <td>
					<a href="@env.resource/NewsList?FeedId=@Feed.FEED_ID&FeedName=@Feed.TITRE&Scope=Page">
						<span class="material-icons">
						visibility
						</span>
					</a>
			  </td>
			  <td>
					<a href="#"
						hx-post="@env.resource/FeedEditLineMode?id=@Feed.FEED_ID&col=1"
						hx-trigger="edit"
						hx-swap="outerHTML"
						onClick="let editing = document.querySelector('.editing')
								 if(editing) {
								   Swal.fire({title: 'Already Editing',
											  showCancelButton: true,
											  confirmButtonText: 'Yep, Edit This Row!',
											  text:'Une ligne est déjà en cours d&#x2019;édition, voulez-vous continuer ?'})
								   .then((result) => {
										if(result.isConfirmed) {
										   htmx.trigger(editing, 'Cancel')
										   htmx.trigger(this, 'edit')
										}
									})
								 } else {
									htmx.trigger(this, 'edit')
								 }"
						>
						<span class="material-icons">
						edit
						</span>
					</a>
			  </td>
			  <td id="col1@Feed.FEED_ID">
				@Feed.FEED_ID
			  </td>
			  <td id="col1@Feed.FEED_ID">
				@Feed.FEED_NAME
			  </td>
			  <td  id="col2@Feed.FEED_ID">
				@Feed.TITLE
			  </td>
			  <td  id="col2@Feed.FEED_ID">
				@Feed.FEED_GROUP
			  </td>
			  <td  id="col3@Feed.FEED_ID">
				@Feed.STATUS
			  </td>
			  <td  id="col4@Feed.FEED_ID">
				@Feed.CREATION_DATE
			  </td>
			  <td  id="col4@Feed.FEED_ID">
				@Feed.MODIFICATION_DATE
			  </td>
			</tr>