				<Table  class="table">
					<thead class="table-light">
						<tr>
						  <th scope="col"></th>
						  <th scope="col"></th>
						  <th scope="col"></th>
						  <th 
							scope="col"
							hx-get="@env.resource/TriFeeds?col=ID_FEED"
							hx-target="#TableFeeds"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  ID
						  </th>
						  <th 
							scope="col"
							hx-get="@env.resource/TriFeeds?col=NOM"
							hx-target="#TableFeeds"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Nom
						  </th>
						  <th 
							scope="col"
							hx-get="@env.resource/TriFeeds?col=TITRE"
							hx-target="#TableFeeds"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Titre
						  </th>
						  <th 
							scope="col"
							hx-get="@env.resource/TriFeeds?col=GROUPE"
							hx-target="#TableFeeds"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Groupe
						  </th>
						  <th 
							scope="col"
							hx-get="@env.resource/TriFeeds?col=STATUT"
							hx-target="#TableFeeds"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Actif
						  </th>
						  <th 
							scope="col"
							hx-get="@env.resource/TriFeeds?col=DATE_CREATION"
							hx-target="#TableFeeds"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Date création
						  </th>
						  <th 
							scope="col"
							hx-get="@env.resource/TriFeeds?col=DATE_MODIFICATION"
							hx-target="#TableFeeds"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Date dernière modification
						  </th>
						</tr>
					</thead>
					<tbody id="TableFeeds" hx-target="closest tr" hx-swap="outerHTML">
					@import FeedsLines
					</tbody>
				</table>	