		<Table  class="table">
			<thead class="table-light">
				<tr>
				  <th scope="col"></th>
				  <th scope="col"></th>
				  <th scope="col"></th>
				  <th scope="col">ID</th>
				  <th scope="col">Nom</th>
				  <th scope="col">Catégorie</th>
				  <th scope="col">sous-catégorie</th>
				  <th scope="col">Pays</th>
				  <th scope="col">Langue</th>
				  <th scope="col">Titre</th>
				  <th scope="col">Actif</th>
				  <th scope="col">Date création</th>
				  <th scope="col">Date dernière modification</th>
				</tr>
			</thead>
			<tbody id="TableFeeds" hx-target="closest tr" hx-swap="outerHTML">
				@foreach feedsList {
					@import FeedLine {@Feed = @loop}
				}
			</tbody>
		</table>