				<Table  class="table">
					<thead class="table-light">
						<tr>
						  <th scope="col"></th>
						  <th scope="col"></th>
						  <th scope="col"></th>
						  <th 
							scope="col"
							hx-get="/SortNews?col=IDNEWS"
							hx-target="#TableNews"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  ID
						  </th>
						  <th 
							scope="col"
							hx-get="/SortNews?col=ORDRE_AFFICHAGE"
							hx-target="#TableNews"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Ordre d'affichage
						  </th>
						  <th 
							scope="col"
							hx-get="/SortNews?col=TITRE_NEWS"
							hx-target="#TableNews"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Titre
						  </th>
						  <th 
							scope="col"
							hx-get="/SortNews?col=HOLD"
							hx-target="#TableNews"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Actif
						  </th>
						  <th 
							scope="col"
							hx-get="/SortNews?col=DATE_PUBLICATION"
							hx-target="#TableNews"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Date publication
						  </th>
						  <th 
							scope="col"
							hx-get="/SortNews?col=DATE_PEREMPTION"
							hx-target="#TableNews"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Date péremption
						  </th>
						  <th 
							scope="col"
							hx-get="/SortNews?col=DATE_CREATION"
							hx-target="#TableNews"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Date création
						  </th>
						  <th 
							scope="col"
							hx-get="/SortNews?col=DATE_MODIFICATION"
							hx-target="#TableNews"
							hx-swap="innerHTML"
							hx-vals='{"dir":"asc"}'
							onclick="toggleDir(this)"
						  >
						  Date dernière modification
						  </th>
						</tr>
					</thead>
					<tbody id="TableNews" hx-target="closest tr" hx-swap="outerHTML">
					@import Newslines
					</tbody>
				</table>