		<tr id="Row@News.IDNEWS">
			  <td>
					<a 
						href="#" 
						hx-delete="@env.resource/DeleteNews?id=@News.NEWS_ID" 
						hx-confirm="Etes-vous certains de vouloir supprimer cette news ?" 
						hx-target="closest tr" 
						hx-swap="outerHTML swap:1s"
						data-Feedid="@News.FEED_ID"
						onClick="setLastEditedFeed(this) "
						>
						<span class="material-icons">
						delete
						</span>
					</a>
			  </td>
			  <td>
					<a href="#"
					   class="btnViewNews"
					   data-idnews="@News.NEWS_ID"
					   onclick="openPopup(this.dataset.idnews)">
					  <span class="material-icons">visibility</span>
					</a>
			  </td>
			  <td>
					<a href="#"
						hx-post="@env.resource/NewsEditLineMode?id=@News.NEWS_ID&col=1"
						hx-trigger="edit"
						onClick="let editing = document.querySelector('.editing')
								 if(editing) {
								   Swal.fire({title: 'Already Editing',
											  showCancelButton: true,
											  confirmButtonText: 'Yep, Edit This Row!',
											  text:'Une ligne est déjà en cours d&#x2019;édition, voulez-vous continuer ?'})
								   .then((result) => {
										if(result.isConfirmed) {
										   htmx.trigger(editing, 'Cancel')
										   htmx.trigger(this, 'edit')
										}
									})
								 } else {
									htmx.trigger(this, 'edit')
								 }"
						>
						<span class="material-icons">
						edit
						</span>
					</a>
			  </td>
			  <td id="col1@News.NEWS_ID">
				@News.NEWS_ID
			  </td>
			  <td  id="col3@News.NEWS_ID">
				@News.DISPLAY_ORDER
			  </td>
			  <td  id="col2@News.NEWS_ID">
				@News.NEWS_TITLE
			  </td>
			  <td  id="col3@News.NEWS_ID">
				@News.HOLD
			  </td>
			  <td  id="col4@News.NEWS_ID">
				@News.PUBLICATION_DATE
			  </td>
			  <td  id="col5@News.NEWS_ID">
				@News.EXPIRY_DATE
			  </td>
			  <td  id="col6@News.NEWS_ID">
				@News.CREATION_DATE
			  </td>
			  <td  id="col7@News.NEWS_ID">
				@News.MODIFICATION_DATE
			  </td>
			</tr>