@LayoutPage layouts/mainLayout

<div class="container">
<h1 class="text-center">@TITRE</h1>
<br/>
	<div id="overlay" class="overlay"></div>
	<div id="popup" class="popup">
	  <div class="popup-content">
		<span class="close" onclick="closePopup()">&times;</span>
		<!-- Case à cocher visible tous contextes -->
		<input type="checkbox" id="AllContext" name="AllContext"/>
		<label for="AllContext">Visible par tout le monde</label>
		
		<!-- Zone des listes déroulantes avec labels -->
		<div class="dropdown-grid">
		  <div class="form-group">
			<label for="categories">B.U</label>
			<select id="categories" name="categories[]" multiple class="form-control">
			   @foreach Categories {
					<option value="@Categories.CATEGORY_ID">@LOOP.CATEGORY_NAME</Option>
				}
			</select>
		  </div>
		  <div class="form-group">
			<label for="sousCategories">Type Partenaire</label>
			<select id="sousCategories" name="sousCategories[]" multiple class="form-control">
				@foreach SubCategories {
					<option value="@SubCategories.SUBCATEGORy_ID">@LOOP.SUBCATEGORY_NAME</Option>
				}
			</select>
		  </div>
		  <div class="form-group">
			<label for="pays">Pays</label>
			<select id="pays" name="pays[]" multiple class="form-control">
				@foreach Country {
					<option value="@Country.COUNTRY_CODE">@LOOP.COUNTRY_NAME</Option>
				}
			</select>
		  </div>
		  <div class="form-group">
			<label for="langues">Langue</label>
			<select id="langues" name="langues[]" multiple class="form-control">
				@foreach Languages {
					<option value="@Languages.LANGUAGE_CODE">@LOOP.LANGUAGE_NAME</Option>
				}
			</select>
		  </div>
		</div>

		<br/>
		<button type="button"
				id="btnSaveContent"
				class="btn btn-primary"
				data-id="2"
				data-Feedid="@Form.FeedId"
				onclick="SendContext();">
		  Enregistrer
		</button>
	  </div>
	</div>
	
	<div id="ListNavigation">
		@import ListNavigation
	</div>
	<br/>
	<div id="TargetTable">	    
		@import FeedsTable
	</div>
	<button type="button" 
			id="btnAddLine"
			class="btn btn-primary" 
			hx-trigger="AddLine"
			hx-post="@env.resource/AddFeed?Session=@App.SessionNo" 
			hx-target="#TableFeeds" 
			hx-swap="beforeend"
			onClick="let addingLine = document.querySelector('.addingLine')
					if(!addingLine) {
						htmx.trigger(this, 'AddLine')
					}">
	Ajouter un fil d'informations
	</button>

	<script>
		document.body.addEventListener('htmx:afterRequest', function(evt) {
			if (evt.detail.requestConfig.path.startsWith("@env.resource/@pages.ActionPagination")) {
				// Une fois la première requête terminée, déclencher la deuxième requête
				htmx.ajax("GET", "@env.resource/@pages.ActionList?Session=@App.SessionNo&Page=1@if (pages.UrlParameters <> '') {&@pages.UrlParameters}", "#TargetTable");
			}
		});
	</script>
</div>

<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">

<script src="@env.resource/static/js/ScriptsFeeds.js"></script>