		
		<tr hx-trigger='cancel' class='editing' hx-get="/CancelFeedEditLine?Session=@App.SessionNo&id=@Feed.FEED_ID">
			  <td>
			  </td>
			  <td>				
				  <a href="#"
						hx-post="@env.resource/ApplyFeedEditLine?Session=@App.SessionNo&id=@Feed.FEED_ID&col=2"
						hx-include="closest tr"
					>	
						<span class="material-icons">
						save
						</span>
					</a>
			  </td>
			  <td>

					<a href="#"
						hx-post="@env.resource/CancelFeedEditLine?Session=@App.SessionNo&id=@Feed.FEED_ID&col=2"
						hx-swap="outerHTML"
					>
						<span class="material-icons">
						cancel
						</span>
					</a>
			  </td>
			  <td>
				@Feed.FEED_ID
			  </td>
			  <td>
				<input autofocus id="edtNom" name="Nom" value="@Feed.FEED_NAME">
			  </td>		  
			  <td>
				<input id="edtTitre" name="titre" value="@Feed.TITLE">
			  </td>
			  <td>
				<select id="Groups" name="Groups">
					@foreach Groups {
					<option value="@Loop.GROUP_ID" @if (Feed.FEED_GROUP = Loop.GROUP_ID){selected}>@Loop.GROUP_NAME</option>
					}
				</select>
			  </td>
			  <td>
			    <select id="Statut" name="statut">	
					<option value="O" @if (Feed.STATUS = 'O'){selected}>Actif</option>
					<option value="N" @if (Feed.STATUS <> 'O'){selected}>Désactivé</option>
				</select>
			  </td>
			  <td>
				@Feed.CREATION_DATE
			  </td>
			  <td>
				@Feed.MODIFICATION_DATE
			  </td>
			</tr>
			
