@LayoutPage layouts/mainLayout

<input type="hidden" name="admin_category" value="hx-Context.Request.Query['admin_category']">
<input type="hidden" name="admin_subcategory" value="@admin_subcategory">
<input type="hidden" name="admin_country" value="@admin_country">
<input type="hidden" name="admin_lang" value="@admin_lang">

<header class="text-white text-center p-5 mb-4">
	<h1 class="fw-bold">Bienvenue sur mon site</h1>
	<p class="lead">Mise en page moderne et responsive</p>
</header>

<div class="container-fluid pb-5">
	<div class="row g-4">
		<!-- Colonne 1 -->
		<div class="col-md-6 col-lg-6 order-2 order-md-2">
			<div class="card-custom mb-4"
				@if (Form.Category <> ""){
				hx-post="@env.resource/GetList?idFeed=10&admin_category=@Form.Category&admin_subcategory=@Form.Subcategory&admin_country=@Form.Country&admin_lang=@Form.Language"
				} @else {
				hx-post="@env.resource/GetList?idFeed=10"
				}
				hx-trigger="load"
				hx-sap="innerHTML"
				hx-include="input[type='hidden']">
			>
				
			</div>
		</div>
		<!-- Colonne 2 -->
		<div class="col-md-2 col-lg-2 order-1 order-md-2">
			<div class="card-custom mb-4"
				hx-post="@env.resource/GetApps"
				hx-trigger="load"
				hx-sap="innerHTML"
				hx-include="input[type='hidden']">
			>
			</div>
		</div>
		<!-- Colonne 3 avec 2 parties -->
		<div class="col-md-4 col-lg-4 order-3 order-md-3 d-flex flex-column">
			<!-- Partie haute -->
			<div class="card-custom order-lg-1 order-2 order-sm-1 mb-4">
				<section class="contact-us">
					<div 
					    @if (Form.Category <> ""){
						hx-post="@env.resource/GetGroup?idGroupe=1&admin_category=@Form.Category&admin_subcategory=@Form.Subcategory&admin_country=@Form.Country&admin_lang=@Form.Language"
						} @else {
						hx-post="@env.resource/GetGroup?idGroupe=1"
						}
						hx-trigger="load"
						hx-sap="innerHTML"
						hx-include="input[type='hidden']">
					>
					</div>
					<!-- Zone où le contenu serveur sera injecté -->
					<div 
						id="contact-result" 
						class="slide-container"
						hx-swap="innerHTML transition:true"
					>
					</div>
				</section>
			</div>
			<!-- Partie basse -->
			<div class="card-custom order-lg-2 order-1 order-sm-2 mb-4"
				@if (Form.Category <> ""){
				hx-post="@env.resource/GetList?idFeed=11&admin_category=@Form.Category&admin_subcategory=@Form.Subcategory&admin_country=@Form.Country&admin_lang=@Form.Language"
				} @else {
				hx-post="@env.resource/GetList?idFeed=11"
				}
				hx-trigger="load"
				hx-sap="innerHTML"
				hx-include="input[type='hidden']">
			>
			</div>
		</div>
	</div>
</div>
<footer class="text-white text-center p-4 mt-3">
    © 2025 - Solutions-dev
  </footer>

