name: Build Delphi (Release)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, dev]

    steps:
      # 1️⃣ Checkout + submodules (AUTH OK)
      - name: Checkout du code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.AUTOMATISATION_BUILD }}
          submodules: recursive
          fetch-depth: 1
          persist-credentials: true

      - name: Debug auth Git
        shell: cmd
        run: |
          git config --list
          git remote -v

      # 2️⃣ Vérification (debug simple)
      - name: Vérifier le contenu du repo
        shell: cmd
        run: |
          echo Workspace: %GITHUB_WORKSPACE%
          git status
          git submodule status
          dir /s /b src\Common

      # 3️⃣ Création des dossiers de sortie
      - name: Créer les dossiers de sortie
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          if not exist Output mkdir Output
          if not exist Output\Release mkdir Output\Release
          if not exist Output\Docs mkdir Output\Docs
          if not exist Output\Release\DCU mkdir Output\Release\DCU
          
      # 5️⃣ Clean
      - name: Clean projet
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Embarcadero\Studio\37.0\bin\rsvars.bat"
          call "%ProgramFiles(x86)%\Microsoft Visual Studio\18\BuildTools\Common7\Tools\VsDevCmd.bat"
          cd /d "%GITHUB_WORKSPACE%"
          msbuild src\FeedFlow.dproj ^
            /t:Clean ^
            /p:Config=Release ^
            /p:Platform=Win64

      # 6️⃣ Build
      - name: Build Release Win64
        shell: cmd
        run: |
          call "C:\Program Files (x86)\Embarcadero\Studio\37.0\bin\rsvars.bat"
          call "%ProgramFiles(x86)%\Microsoft Visual Studio\18\BuildTools\Common7\Tools\VsDevCmd.bat"
          cd /d "%GITHUB_WORKSPACE%"
          msbuild src\FeedFlow.dproj ^
            /t:Build ^
            /p:Config=Release ^
            /p:Platform=Win64
          msbuild Tests\FeedFlow.tests.dproj ^
            /t:Build ^
            /p:Config=Debug ^
            /p:Platform=Win64
            
      # 7️⃣ Liste des artefacts générés
      - name: Lister les fichiers générés
        shell: cmd
        run: |
          dir /s /b Output\Release
          
      - name: Add DUnit to PATH
        shell: cmd
        run: |
          echo C:\Users\danyleblanc\Documents\DL-Projets\FastMM4-master\FullDebugMode DLL\Precompiled>> %GITHUB_PATH%

      - name: Run DUnit tests
        shell: cmd
        run: |
          Tests\Win64\Debug\FeedFlow.tests.exe

      - name: Publish test results
        uses: actions/upload-artifact@v4
        if: always()  # Même si les tests échouent
        with:
          name: Test Results
          path: Tests\Win64\Debug\dunitx-results.xml

      - name: Add Pasdoc to PATH
        shell: cmd
        run: |
          echo C:\Mac\Home\Documents\pasdoc\bin>> %GITHUB_PATH%
      
      - name: Génération documentation
        shell: cmd
        run: |
          pasdoc --format html --output Output\Docs ^
            src\Controllers\*.pas ^
            src\Core\*.pas ^
            src\Infrastructure\Config\*.pas ^
            src\Infrastructure\Loggin\*.pas ^
            src\Infrastructure\Routing\*.pas ^
            src\Infrastructure\Security\*.pas ^
            src\Infrastructure\Support\*.pas ^
            src\Models\*.pas ^
            src\Server\*.pas ^
            src\Services\*.pas
      