name: Build and Deploy Delphi to Production

on:
  push:
    branches: [ main ]  # Déclenche le workflow sur les pushes vers main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, dev]  # Cible le runner de production

    steps:
      - name: Configurer Git pour éviter les invites
        shell: cmd
        run: |
          git config --global credential.helper store
          echo "https://${{ secrets.AUTOMATISATION_BUILD }}:x-oauth-basic@github.com" > %USERPROFILE%\.git-credentials

      - name: Checkout du code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.AUTOMATISATION_BUILD }}

      - name: Configurer l'URL du sous-module avec le token
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          git config --file=.gitmodules submodule.Common.url "https://${{ secrets.AUTOMATISATION_BUILD }}@github.com/dl-Solutions-dev/Common-libs.git"

      - name: Cloner les sous-modules avec le token
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          git submodule update --init --recursive --depth 1
        env:
          GITHUB_TOKEN: ${{ secrets.AUTOMATISATION_BUILD }}

      - name: Vérifier les sous-modules
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          git submodule status
          dir /s /b Common
    
      - name: Créer le dossier de sortie
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          mkdir Output\Release
            
      - name: Compilation en mode Release
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          call "C:\Program Files (x86)\Embarcadero\Studio\37.0\bin\rsvars.bat"
          msbuild src\FeedFlow.dproj /t:Clean /p:Config=Release /p:Platform=Win64
          msbuild src\FeedFlow.dproj /t:Build /p:Config=Release /p:Platform=Win64 /p:DCC_OutputDir="%GITHUB_WORKSPACE%\Output\Release" /p:DCC_UnitOutputDir="%GITHUB_WORKSPACE%\Output\Release\DCU" 
      - name: Lister les fichiers générés
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          dir /s /b Output\Release\