name: Build and Deploy Delphi to Production

on:
  push:
    branches: [ main ]  # Déclenche le workflow sur les pushes vers main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, dev]  # Cible le runner de production

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4
        with:
          submodules: recursive  # Clone aussi les sous-modules
          token: ${{ secret.AUTOMATISATION_BUILD }}
    
      - name: Créer le dossier de sortie
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          mkdir Output\Release
            
      - name: Compilation en mode Release
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          call "C:\Program Files (x86)\Embarcadero\Studio\37.0\bin\rsvars.bat"
          msbuild src\FeedFlow.dproj /t:Clean /p:Config=Release /p:Platform=Win64
          msbuild src\FeedFlow.dproj /t:Build /p:Config=Release /p:Platform=Win64 /p:DCC_OutputDir="%GITHUB_WORKSPACE%\Output\Release" /p:DCC_UnitOutputDir="%GITHUB_WORKSPACE%\Output\Release\DCU" 
      - name: Lister les fichiers générés
        shell: cmd
        run: |
          cd /d "%GITHUB_WORKSPACE%"
          dir /s /b Output\Release\